.code {

}

button {
    border-radius: 10px;
    font-size: 2em;
    margin-left: 1em;
    padding: 0.5em;
}

.input-text {
    border: 1px solid #999;
    border-radius: 10px;
    font-size: 2em;
    padding: 0.5em;
}
